# dont copy build, test directories to container
coverage
node_modules
npm-debug.log
users
# dont copy GIT and GitHub related files
.git
.github
.gitignore
# dont copy docker related files to container
Dockerfile
.dockerignore