.column-from-top {
  transform: translate3d(0, -100%, 0);
  -webkit-animation-name: slide-from-top;
  animation-name: slide-from-top;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.column-from-right {
  transform: translate3d(100%, 0, 0);
  -webkit-animation-name: slide-from-right;
  animation-name: slide-from-right;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.column-from-bottom {
  transform: translate3d(0, 100%, 0);
  -webkit-animation-name: slide-from-bottom;
  animation-name: slide-from-bottom;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.column-from-left {
  transform: translate3d(-100%, 0, 0);
  -webkit-animation-name: slide-from-left;
  animation-name: slide-from-left;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loading {
  animation: spinning 1s infinite linear;
}

.shake {
  animation: shake 500ms ease-out;
}

@keyframes slide-from-top {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slide-from-top {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-from-right {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slide-from-right {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-from-left {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slide-from-left {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-from-bottom {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slide-from-bottom {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(-4px);
  }
  15% {
    transform: translateX(4px);
  }
  25% {
    transform: translateX(-4px);
  }
  35% {
    transform: translateX(4px);
  }
  45% {
    transform: translateX(-4px);
  }
  55% {
    transform: translateX(4px);
  }
  65% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(3px);
  }
  85% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes spinning {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinning {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes toast-move-left-and-hide {
  3.33% {
    opacity: 1;
    transform: translateX(0);
  }
  99.99% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

@keyframes toast-move-left {
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes toast-move-left {
  100% {
    transform: translateX(0);
  }
}

@keyframes toast-fill {
  100% {
    width: 0;
  }
}

@-webkit-keyframes toast-fill {
  100% {
    width: 0;
  }
}