.group-columns .group-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

div.group-root-data {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0.5rem;
  overflow: auto;
}

label.group-label {
  display: block;
  width: 100%;
  text-align: left;
}

.group-name {
  width: 100%;
}

.group-category {
  width: 100%;
}

.group-domain {
  width: 100%;
}
