div.observer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 12rem;
}

div.observer-root-data {
  display: flex;
  width: 100%;
  color: black;
}

label.observer-label {
  display: block;
  width: 100%;
  text-align: left;
}

.observer-path {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
}

.observer-container {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
}

.observer-target {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
}

.observer-history {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
}
