div.observer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 12rem;
}

div.observer-root-data {
  display: flex;
  width: 100%;
  color: black;
}

label.observer-label {
  display: block;
  width: 100%;
  text-align: left;
}

.observer-path {
  width: 100%;
}

.observer-container {
  width: 100%;
}

.observer-target {
  width: 100%;
}

.observer-history {
  width: 100%;
}
