div.observer-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0.5rem;
}

div.observer-root-data {
  display: flex;
  width: 100%;
}

label.observer-label {
  display: block;
  width: 100%;
  text-align: left;
}

.observer-path {
  width: 100%;
}

.observer-container {
  width: 100%;
}

.observer-target {
  width: 100%;
}

.observer-history {
  width: 100%;
}
