section.settings-dashboard {
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0.1rem;
  height: calc(100% - 4.5rem);
}

@media screen and (min-width: 980px) {
  section.settings-dashboard {
    margin: 1rem 0.75rem;
  }
}

div.settings-options {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 500px) {
  div.settings-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.config-file-container {
  display: flex;
  width: 100%;
}

.config-import-file {
  display: none;
}

.config-import-button {
  cursor: pointer;
  width: 100%;
  height: 1.8rem;
  font-size: 0.8rem;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
}

.config-import-apply {
  cursor: pointer;
  width: 25%;
  height: 1.8rem;
  font-size: 0.8rem;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
  margin-left: 5px;
}

.config-export-apply {
  cursor: pointer;
  width: 100%;
  height: 1.8rem;
  font-size: 0.8rem;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
}
