html {
  font-size: 20px;
}

body {
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
  font-family: 'Sedgwick Ave', cursive;
}

header {
  display: block;
}

div#page {
  width: 60rem;
  background-color: purple;
}
