#toastBox {
  position: absolute;
  bottom: 25px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  z-index: 10;
}

.toast {
  display: flex;
  position: relative;
  width: 20rem;
  height: 4rem;
  margin-top: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  align-items: center;
  transform: translateX(100%);
  font-size: 0.8rem;
  animation: toast-move-left 0.2s linear forwards;
}

.toast i {
  margin: 0 1.5rem;
  font-size: 35px;
}

.toast::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -1px;
  width: 100%;
  height: 0.35rem;
  animation: toast-fill 6200ms linear forwards;
  border-radius: 0 0 1rem 1rem;
}

.toast.success i {
  color: limegreen;
}

.toast.warning i {
  color: goldenrod;
}

.toast.error i {
  color: crimson;
}

.toast.success::after {
  background: limegreen;
}

.toast.warning::after {
  background: goldenrod;
}

.toast.error::after {
  background: crimson;
}
