section.user-management {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 2.5rem);
}

p.user-title {
  margin: 0.5rem auto;
  display: block;
  color: black;
  font-size: 1.5rem;
}

section.user-management form {
    width: 25%;
}

div.user-element {
  margin: 0.3rem 0;
}

label.user-label {
  display: block;
  color: black;
  font-size: 1rem;
}

div.user-element input {
  height: 1.5rem;
  width: 100%;
}

button.user-action {
  height: 2rem;
  width: 100%;
  margin: 1rem 0 0 0;
  border: 1px solid black;
  border-radius: 0.25rem;
  background-color: rgb(190, 180, 255);
  transition: background-color 0.5s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button.user-action:hover {
  cursor: pointer;
  background-color: lime;
  transition: background-color 0.5s ease;
}

button.user-action i {
  font-size: 1rem;
  margin-right: 0.35rem;
}

div.user-switch {
  margin: 0 auto;
  color: black;
  font-size: 0.75rem;
}
