<section class="user-management">
  <p class="user-title">welcome back.</p>
  <form action="/auth/login" method="POST">
    <div class="user-element">
        <label class="user-label" for="user-email">e-mail</label>
        <input type="email" id="user-email" name="email" required>
    </div>
    <div class="user-element">
        <label class="user-label"  for="user-password">password</label>
        <input type="password" id="user-password" name="password" required>
    </div>
    <button class="user-action" type="submit">
      <i class="fa fa-sign-in"></i> login with email
    </button>
  </form>
  <div class="user-switch">
    <p>not registered? go to <a href="/auth/register">register</a> page.</p>
  </div>
  <form class="user-demo" action="/auth/demo" method="POST">
    <p>
      don't know if it's for you?
      <button class="btn-demo" type="submit">see</button>
      how it works.
    </p>
  </form>
  {{#if messages.error}}
  <div id="toastBox" class="auto-hide">
    <div class="toast auto-hide error">
      <i class="fa fa-times-circle"></i>{{messages.error}}
    </div>
  </div>
  {{/if}}
</section>