<section class="group-status show">
  <h3>user login</h3>
  <form action="/login" method="POST">
    <div>
        <label for="user-email">e-mail</label>
        <input type="email" id="user-email" name="email" required>
    </div>
    <div>
        <label for="user-password">password</label>
        <input type="password" id="user-password" name="password" required>
    </div>
    <button type="submit">login</button>
  </form>
  <p>not registered? go to <a href="/register">register</a> page</p>
</section>