<section class="group-status show">
  <p class="user-title">user login</p>
  <form action="/login" method="POST">
    <div class="user-element">
        <label class="user-label" for="user-email">e-mail</label>
        <input type="email" id="user-email" name="email" required>
    </div>
    <div class="user-element">
        <label class="user-label"  for="user-password">password</label>
        <input type="password" id="user-password" name="password" required>
    </div>
    <button class="user-action" type="submit">login</button>
  </form>
  <div class="user-switch">
    <p>not registered? go to <a href="/register">register</a> page</p>
  </div>
</section>