<section class="user-management">
  <p class="user-title">welcome back.</p>
  <form action="/login" method="POST">
    <div class="user-element">
        <label class="user-label" for="user-email">e-mail</label>
        <input type="email" id="user-email" name="email" required>
    </div>
    <div class="user-element">
        <label class="user-label"  for="user-password">password</label>
        <input type="password" id="user-password" name="password" required>
    </div>
    <button class="user-action" type="submit">
      <i class="fa fa-sign-in"></i> login with email
    </button>
  </form>
  <div class="user-switch">
    <p>not registered? go to <a href="/register">register</a> page.</p>
  </div>
  {{#if messages.error}}
  <div id="toastBox">
    <div class="toast auto-hide error">
      <i class="fa fa-times-circle"></i>{{messages.error}}. Please try again.
    </div>
  </div>
  {{/if}}
</section>