<section class="group-status show">
  <h3>user register</h3>
  <form action="/register" method="POST">
    <div>
        <label for="user-name">name</label>
        <input type="text" id="user-name" name="name" required>
    </div>
    <div>
        <label for="user-email">e-mail</label>
        <input type="email" id="user-email" name="email" required>
    </div>
    <div>
        <label for="user-password">password</label>
        <input type="password" id="user-password" name="password" required>
    </div>
    <button type="submit">register</button>
  </form>
  <p>already registered? go to <a href="/login">login</a> page</p>
</section>