<section class="settings-dashboard">
  <div class="settings-options">
    {{> widget type="file" classes=" half" parent="config" label="export" value="export current config" }}
    {{> widget type="file" classes=" half" parent="config" label="import" options="application/json" value="select config file" }}
  </div>
</section>