<section class="settings-dashboard">
  <div class="settings-options">
    {{> widget type="file" parent="config" label="export" value="Export config" }}
    {{> widget type="file" parent="config" label="import" options="application/json" value="Import config" }}
  </div>
</section>