<section class="status-dashboard">
  <div class="status-settings">
    {{> widget type="combo" parent="component" label="component" options=@root.components value="all" }}
  </div>
  <div id="table-container">
    <label class="component-label">logs:</label>
    <table id="table-logs">
      <thead>
        <tr>
          <th>trime</th>
          <th>type</th>
          <th>message</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
</section>