<section class="status-dashboard">
  <div class="status-settings">
    {{> widget type="combo" parent="component" label="component" options=@root.components value="all" }}
  </div>
  <label class="logs-label">logs:</label>
  <div id="table-container">
    <table id="table-logs">
      <thead>
        <tr>
          <th>time</th>
          <th>component</th>
          <th>type</th>
          <th>message</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2024-03-02 00:00:25</td>
          <td>web-components</td>
          <td>INFO</td>
          <td>Created</td>
        </tr>
        <tr>
          <td>2024-03-02 00:00:40</td>
          <td>web-database</td>
          <td>ERROR</td>
          <td>MongooseServerSelectionError: connect ECONNREFUSED 127.0.0.1:27017</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>