<div class="component-card" {{#if activate}}active{{/if}}>
  <h3 class="card-title">{{name}} config</h3>
  <div class="component-content">
    <div class="component-fields">
      {{> widget type="text" parent=(append "component-" name) label="selector" value=component.selector }}
      {{> widget type="text" parent=(append "component-" name) label="attribute" value=component.attribute }}
      {{#if (eq name "price")}}
        {{> widget type="combo" parent=(append "component-" name) label="auxiliary" options=@root.currencies value=component.auxiliary }}
      {{else if (eq name "image")}}
        {{#if (equalsLength component.auxiliary 0)}}
          {{> widget type="file" parent=(append "component-" name) label="auxiliary" }}
        {{else}}
          {{> widget type="button" parent=(append "component-" name) label="auxiliary" value=component.auxiliary }}
        {{/if}}
      {{else}}
        {{> widget type="text" parent=(append "component-" name) label="auxiliary" value=component.auxiliary }}
      {{/if}}
    </div>
    {{#if (unlessEq name "price")}}
      <div class="component-toggle">
        <p>auto</p>
        <input type="checkbox" class="check-auto-manual">
        <label for="check-auto-manual"></label>
        <p>manual</p>
      </div>
    {{/if}}
  </div>
</div>