<article class="group-column">
  <div class="group-container">
    <h2 class="group-title">{{group.name}}</h2>
    <div class="group-content">
      <div class="group-data">
        {{> widget type="text" parent="group" label="name" value=group.name }}
        {{> widget type="button" parent="group" label="category" value=group.category }}
        {{> widget type="text" parent="group" label="domain" value=group.domain }}
      </div>
      {{#each observers}}
        {{> observer observer=this }}
      {{/each}}
    </div>
    <i class="fa fa-close group-column-close"></i>
  </div>
</article>