<div class="group-container">
  <label id="group-label" for="group-name">name:</label>
  <input type="text" id="group-name" name="name" value="{{group.name}}" />
  <label id="group-label" for="group-category">category:</label>
  <input type="button" id="group-category" name="category" value="{{group.category}}" />
  <label id="group-label" for="group-domain">domain:</label>
  <input type="text" id="group-domain" name="domain" value="{{group.domain}}" />
  {{#each observers}}
    {{> observer observer=this }}
  {{/each}}
</div>