<article class="group-column">
  <div class="group-container" data-action="add">
    <h2 class="group-title">+</h2>
    <h3 class="group-hint">add group</h3>
    <div class="group-content">
      <div class="group-root-data">
        {{> widget type="text" parent="group" label="name" id=true }}
        <div class="group-root-bend">
          {{> widget type="text" parent="group" label="domain" }}
          {{> widget type="button" parent="group" label="category" }}
        </div>
      </div>
      <div class="group-observers">
        <div class="observers-title">
          <label class="group-label">observers:</label>
        </div>
        {{!-- new group will not have any observers --}}
        <div class="observers-container">
          {{> observer-add parent=group disable=true }}
        </div>
      </div>
      <div class="group-buttons">
        <div class="group-close-btn accept" data-action="add" data-id="{{userId}}">add</div>
        <div class="group-close-btn cancel" data-action="cancel">cancel</div>
      </div>
    </div>
  </div>
</article>