<article class="group-column">
  <div class="group-container" data-action="update">
    <h2 class="group-title">{{group.name}}</h2>
    <div class="group-content">
      <div class="group-root-data">
        {{> widget type="text" parent="group" label="name" value=group.name }}
        {{> widget type="text" parent="group" label="domain" value=group.domain }}
        {{> widget type="button" parent="group" label="category" value=group.category }}
      </div>
      <div class="group-observers">
        <div class="observers-title">
          <label class="group-label">observers:</label>
        </div>
        <div class="observers-container">
          {{!-- show currently existing observers --}}
          {{#each observers}}
            {{> observer parent=../group observer=this }}
          {{/each}}
          {{!-- display add new observer button --}}
          {{> observer parent=group }}
        </div>
      </div>
      <div class="group-buttons">
        <div class="modal-close-btn accept" data-action="edit" data-id="{{group.name}}">edit</div>
        <div class="modal-close-btn cancel">cancel</div>
      </div>
      <i class="fa fa-close group-column-close"></i>
    </div>
  </div>
</article>