<ul>
  <li>path: {{observer.path}}</li>
  <li>target: {{observer.target}}</li>
  <li>history: {{observer.history}}</li>
  <li>container: {{observer.container}}</li>
  {{> component name="title" component=observer.title }}
  {{> component name="image" component=observer.image }}
  {{> component name="price" component=observer.price }}
</ul>