<div class="observer-content">
  <div class="modal-dialog">
    <div class="modal-background">
      <div class="modal-content">
        <div class="observer-root-data">
          {{> widget type="text" parent="observer" label="path" value=observer.path }}
          {{> widget type="text" parent="observer" label="container" value=observer.container }}
          {{> widget type="combo" parent="observer" label="target" options="load|domcontentloaded|networkidle0|networkidle2" value=observer.target }}
          {{> widget type="combo" parent="observer" label="history" options="off|onChange|on" value=observer.history }}
        </div>
        {{> component name="title" component=observer.title }}
        {{> component name="image" component=observer.image }}
        {{> component name="price" component=observer.price }}
        <div class="modal-accept">ok</div>
        <div class="modal-cancel">cancel</div>
      </div>
    </div>
  </div>
  <div class="modal-button">{{observer.path}}</div>
</div>