<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" type="image/x-icon" href="./img/icon/favicon-32.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap" rel="stylesheet" />
    <script src="./js/script.js" defer></script>
    <title>web-scraper</title>
  </head>
  <body>
    <header>
      <h1>{{title}}</h1>
    </header>
    <div id="main-content">
      {{{body}}}
    </div>
    <footer>
      <p>{{title}}</p>
    </footer>
  </body>
</html>