<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/script.js" defer></script>
    <link rel="icon" type="image/x-icon" href="./img/icon/favicon-32.ico" />
    <title>web-scraper</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>